@media screen and (max-width: 1400px) {

.sec1{
height:auto;
margin-bottom:50px;
}

.sec2-2{
flex-wrap:wrap;
}

.sec5,
.sec4{
height:fit-content;
}

}

@media screen and (max-width: 1200px) {

.navbar{
display:none;
}

.navbar-menu{
display:flex;
}

.sec1,
.sec2{
display:block;
}

.sec1,
.sec2,
.sec3,
.sec4,
.sec5{
height:fit-content;
padding:20px;
}

.sec1-1{
width:275px;
margin:auto;
}

.sec2-2{
margin-top:0;
}

}
@media screen and (max-width: 600px) {

/* All sections */
.sec1,
.sec2,
.sec3,
.sec4,
.sec5{
display:flex !important;
flex-direction:column !important;
align-items:center;
text-align:center;
}

/* Inner layouts */
.sec2-2,
.sec3-2,
.sec4-2{
display:flex !important;
flex-direction:column !important;
align-items:center;
gap:20px;
}

/* Boxes full width */
.box1,
.box2,
.box3{
width:100% !important;
}

/* Images */
img{
max-width:100%;
height:auto;
}

h1{
font-size:28px;
}

}

/* Dark Mode */
.dark-mode{
background-color:#222;
color:white;
}

.dark-mode .navbar{
background-color:#222;
}

.dark-mode .menu-bar li a{
color:white !important;
}

.dark-mode .menu-bar li a:hover{
color:#8f7027 !important;
text-decoration: underline;
text-decoration-color:#8f7027;
text-underline-offset:6px;
}

